.p4{
		margin-top:-60px;
	}

.p10
     {
     margin-top: 5px;
	margin-left:200px;
	height:20px;
	width:20px;
	margin-bottom: 30px;
     }
.p36
     {
       padding-left:30px; 
     }
.p37
     {
     	padding-left:100px;
       
      }
      
.myclass1
{
     background-color:black;
  
     padding-left:150px;
     padding-right:150px;
     margin-right:0px;
     margin-left:0px;
     margin-bottom:-140px;
    border-radius: 10px;
    padding-bottom:30px;
    margin-top:0px;
    color: white;
    text-align: center;
    padding-top: 10px;
} 


    
    th,td{
        color:white;
    }
